.about-container {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: dimgray;
  font-size: 1.5rem;
}
.about-container a {
  color: #27496d;
  text-decoration: none;
}
.about-container a:hover {
  color: #01909e;
  text-decoration: underline;
}
.about-intro {
  font-size: 1.75rem;
  color: black;
}
.social-icon {
  width: 2rem;
  margin: 1rem;
}
.attribute {
  font-size: 10px;
}
