.menu {
  background-color: #27496d;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menu-link {
  color: white;
  text-decoration: none;
}
.menu-link:hover {
  color: #dae1e7;
}
.menu-link:active {
  color: #01909e;
}
