.author-title {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0;
  color: #27496d;
}
.publication {
  margin: 2rem 2rem 0 calc(2rem + 8px);
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(128, 128, 128, 0.4);
}
.publication-title {
  font-family: 'Helvetica Neue';
  font-size: 1.5rem;
  color: #00909e;
  margin: 0;
}
.publication-title::first-letter,
.publication-body::first-letter {
  text-transform: capitalize;
}
.publication-body {
  text-indent: 2rem;
  margin-bottom: 0;
  color: dimgray;
}
strong {
  color: #01909E;
}