.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.user {
  position: absolute;
  top: 3rem;
  font-family: 'Merriweather', serif;
  width: 100%;
  margin: 0;
  height: 6.5rem;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #27496d;
}
